.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.container-with-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  gap: 20px;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.results-container {
  width: 100%;
  overflow-y: auto;
  padding-top: 20px;
}

/* Estilos para la barra de scroll */
.results-container::-webkit-scrollbar {
  width: 8px;
}

.results-container::-webkit-scrollbar-track {
  background: #080616;
}

.results-container::-webkit-scrollbar-thumb {
  background-color: #1A1953;
  border-radius: 10px;
  border: 2px solid #080616;
}

.landing-input {
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: 1px solid var(--bg);
  border-radius: 8px;
  width: 100%;
  font-family: inherit;
  background-color: var(--bg);
  text-align: center;
  color: var(--text-h);
}
.landing-input.auto-grow {
  resize: none;
  overflow: hidden; 
  min-height: 50px;
  max-width: 800px; 
  line-height: 1.5;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.landing-input:focus {
  outline: none;
  border-color: var(--bg);
}

.landing-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--bg);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s;
}

.landing-button:hover {
  background-color: #1A1953;
  border-radius: 50px;
}

.landing-button:disabled {
  background-color: #080616;
  cursor: not-allowed;
  border-radius: 50px;
  
}

.char-counter {
  font-family: var(--mono); /* Usando la fuente que ya tienes en index.css */
  font-size: 0.85rem;
  margin-top: -10px;
  transition: color 0.3s ease;
}

.text-danger {
  color: #ff4d4d;
  font-weight: bold;
  animation: shake 0.2s ease-in-out; /* Opcional: un pequeño efecto visual */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.movie-card {
  background-color: #080616;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-card h3 {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0 5px;
}

.movie-card p {
  margin: 0 0 10px;
  font-size: 0.9rem;
  color: #a0a0a0;
}
